{% if warning %}
<div id="content" class="col-sm-12 bg alert text-danger">
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
</div>
{% else %}

<div id="content" class="col-sm-12 bg paynowfinal">
 <div class="modal-header">
	<h3>{{ text_place }}</h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="col-sm-12 form-horizontal">
	<div class="order-nowdata">	   
		<div class="form-group">
			<label class="col-sm-4 control-label">{{ text_customer }}</label>
			<div class="col-sm-8">
			  	<div class="checkbox">
					<label class="guescust">					
						{% if default_guest %}
	                      <input type="checkbox" name="guestcustomer" value="1" checked="checked" id="input-guestcustomer" />
	                      {% else %}
	                      <input type="checkbox" name="guestcustomer" value="1" id="input-top" />
	                      {% endif %}					  
							{{ text_gcustomer }}
						<br/><br/>
						{{ text_or }}				
					</label>
					<input type="hidden" name="customer_id" value="{{ customer_id }}" class="form-control customer_id"/>
					<input type="text" name="customer_name" value="{{ customer_id }}" placeholder="Type and Select Customer" class="form-control customer_name"/>
					<br/>
					<a class="paynowcustomeradd" data-toggle="tooltip" title="Add Customer" onClick="$('.loadcustomerfrom').show();" ><i class="fa fa-plus"></i> Add Customer </a>
				</div> 
			</div>
	    </div>
		<div class="loadcustomerfrom" style="display:none">
			 
			  <div class="form-group hide">
			  <div class="col-sm-12">
			  <button type="button" data-toggle="tooltip" title="Save" class="btn btn-primary save-customer pull-right addcustomer"><i class="fa fa-save" style="color:#fff!important;"></i></button>
			  </div>
			  </div>
		</div>
<!-- Payment Method -->
		<div class="form-group">
			<label class="col-sm-4 control-label">{{ text_pay_method }}</label>
			<div class="col-sm-8">			
			  	<select name="payment_method" class="form-control" id="selectcard">
					{% for result in setting_paymentmethods %}
					{% if result.name == payment_method %}
					<option value="{{ result.name }}" selected="selected">{{ result.name }}</option> 
					{% else %}
					<option value="{{ result.name }}">{{ result.name }}</option> 
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
<!-- Payment Method -->
			<!--sTART cODE-->
		<div id="cardinput" style="display:none" class="colors">
			<div class="form-group required">
			  <label class="col-sm-4 control-label" for="input-cc-owner">{{ entry_cc_owner }}</label>
			  <div class="col-sm-8">
				<input type="text" name="cc_owner" value="" placeholder="{{ entry_cc_owner }}" id="input-cc-owner" class="form-control cc_owner" />
			  </div>
			</div>
			<div class="form-group required">
			  <label class="col-sm-4 control-label" for="input-cc-number">{{ entry_cc_number }}</label>
			  <div class="col-sm-8">
				<input type="text" name="cc_number" value="" placeholder="{{ entry_cc_number }}" id="input-cc-number" class="form-control ccnumbercss" autocomplete="off"  />
			  </div>
			</div>
			<div class="form-group required">
			  <label class="col-sm-4 control-label" for="input-cc-expire-date">{{ entry_cc_expire_date }}</label>
			  <div class="col-sm-4">
				<select name="cc_expire_date_month" id="input-cc-expire-month" class="form-control">
				  {% for month in months %}
				  <option value="{{ month.value }}">{{ month.text }}</option>
				  {% endfor %}
				</select>
			   </div>
			   <div class="col-sm-4">
				<select name="cc_expire_date_year" class="form-control" id="input-cc-expire-year">
				  {% for year in year_expire %}
				  <option value="{{ year.value }}">{{ year.text }}</option>
				  {% endfor %}
				</select>
			  </div>
			</div>
			<div class="form-group required">
			  <label class="col-sm-4 control-label" for="input-cc-cvv2">{{ entry_cc_cvv2 }}</label>
			  <div class="col-sm-8">
				<input type="text" name="cc_cvv2" value="" placeholder="{{ entry_cc_cvv2 }}" id="input-cc-cvv2" class="form-control ccnumbercss" autocomplete="off"/>
			  </div>
			</div>
			
		
		</div>
		<!--eND cODE-->
	   		
		<div class="form-group colors1">
		  <label class="col-sm-4 control-label" for="input-order-status">{{ entry_order_status }}</label>
		  <div class="col-sm-8">
			<select name="order_status_id" id="input-order-status" class="form-control">
			  <option value="">{{ text_select }}</option>
			  {% for order_status in order_statuses %}
			  {% if order_status.order_status_id == order_status_id %}
			  <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
			  {% else %}
			  <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
			  {% endif %}
			  {% endfor %}
			</select>
			<input type="hidden" name="order_id" value="{{ order_id }}" />
		  </div>
		</div>	

		<!-- 5 11 2019  -->
		<div id="cashchange" style="display:none">
		    <div class="form-group">
			  <label class="col-sm-4 control-label" for="input-total">{{ entry_total }}</label>
			  <div class="col-sm-8">
			  	{% for result in totals %}
				<input type="text" name="total" disabled value="{{ result.value }}" placeholder="{{ entry_total }}" id="total" class="form-control total"/>
				{% endfor %}
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-sm-4 control-label" for="input-change">{{ entry_paidamount }}</label>
			  <div class="col-sm-8"><input type="number" name="paid_amount" id="paid_amount" value="" class="form-control"><div id="greater"></div></div>
			</div>

			<div class="form-group">
			  <label class="col-sm-4 control-label" for="input-change">{{ entry_change }}</label>
			  <div class="col-sm-8"><input disabled id="balance" value="" class="form-control"></div>
			</div>

		</div>
	<!-- 5 11 2019  -->

		<div class="form-group">
			<label class="col-sm-4 control-label">{{ text_comment }}</label>
			<div class="col-sm-8">			
			 <textarea name="comment" class="form-control">{{ comment }}</textarea>		  
		    </div> 
	    </div>		
		<div class="form-group">
			<label class="col-sm-4 control-label"></label>
			<div class="col-sm-8">			
			 <button class="btn btn-primary ordernow" id="pay-now">{{ text_order }}</button>
		    </div> 
	    </div>
	 </div>
	</div>
</div>
<!-- 05 11 2019  -->
<script>
$("#paid_amount").on("keyup", function() {
var totalamount = $('#total').val();
$(".text-danger").remove();
var val = +this.value || 0;
if(val >= totalamount){
totalvalue=val-$("#total").val();
$("#balance").val(totalvalue.toFixed(2));

} else {
$("#greater").after('<div class="text-danger"><b>{{ text_paidamount }}</b></div>');

}
});

$('#selectcard').on('change', function () {
    if(this.value == "Cash"){
        $("#cashchange").show();
    } else {
        $("#cashchange").hide();
    }
});
</script>
<!-- 05 11 2019  -->

<script>

$('#selectcard').on('change', function () {
    if(this.value === "Card"){
        $("#cardinput").show();
    } else {
        $("#cardinput").hide();
    }
});

</script>

<script type="text/javascript">
//Autocomplete
$('input[name=\'customer_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=pos/paynow/autocomplete&user_token={{ user_token }}&customer_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'customer_name\']').val(item['label']);
		$('input[name=\'customer_id\']').val(item['value']);
	}	
});
$('.cc_owner').change(function(){
	var code=$(this).val();
	var code1=code.split('^');
	var cardnumber=code1[0].replace('%B','');
	var name=code1[1].split('/');
	var year=code1[2].substring(0,2);
	var month=code1[2].substring(2,4);
	$('#input-cc-owner').val(name[1]+' '+name[0]);
	$('#input-cc-number').val(cardnumber);
	$('#input-cc-expire-month').val(month);
	$('#input-cc-expire-year').val(20+year);
});
</script>

<script type="text/javascript"><!--
$('select[name=\'payment_method\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=possetting/setting/method&user_token={{ user_token }}&payment_method=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'payment_method\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			$('.fa-spin').remove();
			$('select[name=\'order_status_id\']').val(json['order_status_id']);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'payment_method\']').trigger('change');
//--></script>


{% endif %}