<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
  
  <div style="page-break-after: always;">
   <div class="col-sm-12">
	<!--- new code start --->
	<div style="width:100%;padding:1mm; margin:0 auto; font-family:inherit">
    <center style="border-bottom: dotted 1px #333">
	    {% if store_logo %}
        <img src="{{ storelogo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" style="margin: 0 auto 20px; padding-top:10px"/> 
        {% endif %}
   </center><!--End InvoiceTop-->
    <div style="border-bottom: dotted 1px #212529">
        <p style="text-align:left; line-height:17px; font-size:12px; color:#212529; margin: 5px 0px;"> 
	          {% if store_name %}
          <strong>* {{ config_name }} *</strong>
          {% endif %}
          <br >
          {% if store_address %}
          {{ config_address }}
          {% endif %}
          <br />
          {% if store_telephone %}
          {{ config_telephone }}
          {% endif %}
        </p>
    </div><!--End Invoice Mid-->
	<div style="border-bottom: dotted 1px #212529">
		<div style="width:50%; text-align:left">
		    {% if store_order_date %}
        <b>{{ text_date_added }} :</b> {{ date_added }}<br />
        {% endif %}
        
        {% if invoice_number %}
        <h6>{{ text_invoice }} : #{{ order_id }}</h6>
        {% endif %}
		</div> 
		<div style="width:50%; text-align:right">	
		
		  {% if store_order_time %}
        <b>Time :</b> {{ time }}<br />
        {% endif %}
		</div>
    <p style="text-align:left; line-height:17px; font-size:12px; color:#212529; margin: 10px 0px;">
	   {% if cashier_name %}
      {% if usernames %}<p>{{ text_cashier }} : {{ usernames }}</p>{% endif %}
      {% endif %}
	</p>		
	</div>
	<div style="border-bottom: dotted 1px #212529">
		 <table style="font-size:12px; color:#212529; margin: 5px 0px;width:100%">
			<thead>
			  <tr>
			   <td style="text-align:left; color:#212529; width:35%;">
			     <b>{{ text_description }}</b><br />
			   </td>
			    <td style="text-align:center; color:#212529;  width:35%;">
				  <b>{{ text_qty }}</b>
				</td>
				<td style="text-align:right; color:#212529; width:30%;">
				  <b>{{ text_price }}</b>
				</td>
			  </tr>
			</thead>
			 {% for product in products %}
          <tr>
           <td style="text-align:left; width:35%; color:#212529; padding:2px 0px">
				{{ product.name }}<br /> 
            </td>
			 <td style="text-align:center; width:35%; color:#212529; padding:2px 0px">
				{{ product.quantity }}
			</td>
             <td style="text-align:right; width:25%; color:#212529; padding:2px 0px">
			 {{ product.price }}
			 </td>
          </tr>
		  {% endfor %}
		  <tr style="border-bottom: dotted 1px #212529">
		   <td colspan="3"></td>
		  </tr>
		   
           {% for total in total_data %}
  
          <tr>
           <td colspan="2" style="text-align:left; color:#212529; width:75%; padding:2px 0px">
              <b>{{ total.title }} :</b><br />
            </td>
            <td style="text-align:right; color:#212529; width:25%; padding:2px 0px; ">
               {{ total.text }}<br />
            </td>
          </tr>
		    {% endfor %}
        
		 </table>
	</div>
	<div style="border-bottom: dotted 1px #212529; padding:5px; text-align:center">
	{{ setting_invoice }}
	</div>
	<div style="text-align:left">
	<p style="text-align:left; line-height:17px; font-size:12px; color:#212529; margin: 10px 0px;"> 
		User's Signature ________________</p>
	</div>
    </div><!--End Invoice-->
</div>
  
  
  
    <div class="col-sm-12 hide">
      <div class="text-center">
        {% if store_logo %}
        <img src="{{ storelogo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" style="margin: 0 auto 20px; padding-top:10px"/> 
        {% endif %}
      </div>
      <div class="text-center" style="padding-top:10px">
        <address>
          {% if store_name %}
          <strong>* {{ config_name }} *</strong>
          {% endif %}
          <br >
          {% if store_address %}
          {{ config_address }}
          {% endif %}
          <br />
          {% if store_telephone %}
          {{ config_telephone }}
          {% endif %}
        </address>
      </div>
      <div class="pull-left">
        {% if store_order_date %}
        <b>{{ text_date_added }} :</b> {{ date_added }}<br />
        {% endif %}
        
        {% if invoice_number %}
        <h6>{{ text_invoice }} : #{{ order_id }}</h6>
        {% endif %}
      </div>
      <div class="text-right">
        {% if store_order_time %}
        <b>Time :</b> {{ time }}<br />
        {% endif %}
      </div>
      <br />
      <br />
      {% if cashier_name %}
      {% if usernames %}<p>{{ text_cashier }} : {{ usernames }}</p>{% endif %}
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <td>
              <div class="text-left"><b>{{ text_code }}</b></div>
              <div class="text-center"><b>{{ text_qty }}</b></div>
            </td>
            <td class="text-center">
              <b>{{ text_description }}</b><br />
              <b>{{ text_price }}</b>
            </td>
            <td class="text-right">
              <b>{{ text_due_date }}</b>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr class="des">
            <td>
              <div class="text-left">{{ product.model }}</div>
              <div class="text-center">{{ product.quantity }}</div>
            </td>
            <td class="text-center">{{ product.name }}<br /> {{ product.price }}</td>
            <td class="text-right">{{ date_added }}</td>
          </tr>
          {% endfor %}
          {% for total in total_data %}
          <tr>
            <td class="text-right" colspan="2">
              <b>{{ total.title }} :</b><br />
            </td>
            <td class="text-right">
              {{ total.text }}<br />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>{{ setting_invoice }}</p>
      
     
    </div>
  </div>
  
</div>

</body>
</html>
<script type="text/javascript">
 window.print();
</script>


<style>
.table tr td{
  border-top:none !important;
} 
.table .des td{
  border-top:1px dashed #ddd !important;
}
.table .des1 td{
  border-bottom:1px dashed #ddd;
}  
.table thead  tr td:last-child, .table .des td:last-child{
  vertical-align: bottom;
}
</style>