{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
       
        <div class="form-inline">
          <select class="form-control" id="action" name="action">
            <option value="seo_url">{{ text_generate_seo_url }}</option>
            <option value="meta_title">{{ text_generate_meta_title }}</option>
            <option value="tags">{{ text_generate_meta_tags }}</option>
            <option value="meta_description">{{ text_generate_meta_description }}</option>
            <option value="meta_keywords">{{ text_generate_meta_keywords }}</option>
            <option value="image_custom_title">{{ text_generate_image_custom_title }}</option>
            <option value="image_custom_alt">{{ text_generate_image_custom_alt }}</option>
          </select>
          <button type="button" data-toggle="tooltip" id="seo-url" class="btn btn-primary" onclick="$('input[name*=\'action\']').val($('select[name*=\'action\']').val());$('#form-product').submit();">{{ button_generate }}</button>
        </div>
        
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if warning %}
  <div class="alert alert-info alert-dismissible"><i class="fa fa-exclamation-circle"></i> 
      {{ text_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}

  <div class="row">
    <div id="filter-product" class="col-md-12 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                <select name="filter_quantity_status" id="input-quantity" class="form-control">
                  <option value=""></option>
                  {% if filter_quantity_status == '1' %}
                    <option value="1" selected="selected">{{ text_in_stock }}</option>
                  {% else %}
                    <option value="1">{{ text_in_stock }}</option>
                  {% endif %}
                  {% if filter_quantity_status == '0' %}
                    <option value="0" selected="selected">{{ text_out_of_stock }}</option>
                  {% else %}
                    <option value="0">{{ text_out_of_stock }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-meta-title">{{ entry_meta_title }}</label>
                <select name="filter_meta_title_status" id="input-meta-title" class="form-control">
                  <option value=""></option>
                  {% if filter_meta_title_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_meta_title_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4">
               <div class="form-group">
                  <label class="control-label" for="input-meta-description">{{ entry_meta_description }}</label>
                  <select name="filter_meta_description_status" id="input-meta-description" class="form-control">
                    <option value=""></option>
                    {% if filter_meta_description_status == '1' %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                    {% if filter_meta_description_status == '0' %}
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %}
                      <option value="0">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-meta-keywords">{{ entry_meta_keywords }}</label>
                <select name="filter_meta_keywords_status" id="input-meta-keywords" class="form-control">
                  <option value=""></option>
                  {% if filter_meta_keywords_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_meta_keywords_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-image-custom-title">{{ entry_image_custom_title }}</label>
                <select name="filter_image_custom_title_status" id="input-image-custom-title" class="form-control">
                  <option value=""></option>
                  {% if filter_image_custom_title_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_image_custom_title_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="input-image-custom-alt">{{ entry_image_custom_alt }}</label>
                <select name="filter_image_custom_alt_status" id="input-image-custom-alt" class="form-control">
                  <option value=""></option>
                  {% if filter_image_custom_alt_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_image_custom_alt_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-tags">{{ entry_tags }}</label>
                <select name="filter_tags_status" id="input-tags" class="form-control">
                  <option value=""></option>
                  {% if filter_tags_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_tags_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="input-seo">{{ entry_seo }}</label>
                <select name="filter_seo_status" id="input-seo" class="form-control">
                  <option value=""></option>
                  {% if filter_seo_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_seo_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value=""></option>
                  {% if filter_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="input-image">{{ entry_image }}</label>
                <select name="filter_image_status" id="input-image" class="form-control">
                  <option value=""></option>
                  {% if filter_image_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_image_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-custom-h1-tag">{{ entry_custom_h1_tag }}</label>
                <select name="filter_custom_h1_tag_status" id="input-custom-h1-tag" class="form-control">
                  <option value=""></option>
                  {% if filter_custom_h1_tag_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_custom_h1_tag_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="form-group">
                <label class="control-label" for="input-custom-h2-tag">{{ entry_custom_h2_tag }}</label>
                <select name="filter_custom_h2_tag_status" id="input-custom-h2-tag" class="form-control">
                  <option value=""></option>
                  {% if filter_custom_h2_tag_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_custom_h2_tag_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-3 col-md-4">
              <div class="form-group text-right"></br>
                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">{{ text_screen_options }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="image" name="screen-option" checked=""> {{ column_image }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="name" name="screen-option" checked=""> {{ column_name }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="model" name="screen-option" checked=""> {{ column_model }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="price" name="screen-option" checked=""> {{ column_price }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="quantity" name="screen-option" checked=""> {{ column_quantity }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="status" name="screen-option" checked=""> {{ column_status }}
          </div>
        </div></br>
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="meta-title" name="screen-option"> {{ column_meta_title }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="meta-keyword" name="screen-option"> {{ column_meta_keyword }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="tags" name="screen-option"> {{ column_tags }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="image-custom-title" name="screen-option"> {{ column_image_custom_title }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="image-custom-alt" name="screen-option"> {{ column_image_custom_alt }}
          </div>
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="seo-score" name="screen-option" checked=""> {{ column_seo_score }}
          </div>
        </div></br>
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <input type="checkbox" data-id="readability-score" name="screen-option" checked=""> {{ column_readability_score }}
          </div>
        </div>
      </div>
    </div>
    
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
        </div>
        <div class="panel-body">
          <form action="{{ generate_seo_url }}" method="post" enctype="multipart/form-data" id="form-product">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="product-table">
                <thead>
                  <tr>
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                    <td class="text-center" id="th-image">{{ column_image }}</td>
                    <td class="text-left" id="th-name">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>

                    <td class="text-left" id="th-model">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>

                    <td class="text-right" id="th-price">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>

                    <td class="text-right" id="th-quantity">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>

                    <td class="text-left" id="th-status">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>

                    <td class="text-left" id="th-meta-title" style="display:none">{% if sort == 'pd.meta_title' %} <a href="{{ sort_meta_title }}" class="{{ order|lower }}">{{ column_meta_title }}</a> {% else %} <a href="{{ sort_meta_title }}">{{ column_meta_title }}</a> {% endif %}</td>

                    <td class="text-left" id="th-meta-keyword" style="display:none">{% if sort == 'pd.meta_keyword' %} <a href="{{ sort_meta_keyword }}" class="{{ order|lower }}">{{ column_meta_keyword }}</a> {% else %} <a href="{{ sort_meta_keyword }}">{{ column_meta_keyword }}</a> {% endif %}</td>

                    <td class="text-left" id="th-tags" style="display:none">{% if sort == 'pd.tag' %} <a href="{{ sort_tag }}" class="{{ order|lower }}">{{ column_tags }}</a> {% else %} <a href="{{ sort_tag }}">{{ column_tags }}</a> {% endif %}</td>

                    <td class="text-left" id="th-image-custom-title" style="display:none">{% if sort == 'p.image_custom_title' %} <a href="{{ sort_image_custom_title }}" class="{{ order|lower }}">{{ column_image_custom_title }}</a> {% else %} <a href="{{ sort_image_custom_title }}">{{ column_image_custom_title }}</a> {% endif %}</td>

                    <td class="text-left" id="th-image-custom-alt" style="display:none">{% if sort == 'p.image_custom_alt' %} <a href="{{ sort_image_custom_alt }}" class="{{ order|lower }}">{{ column_image_custom_alt }}</a> {% else %} <a href="{{ sort_image_custom_alt }}">{{ column_image_custom_alt }}</a> {% endif %}</td>
                    
                    <td class="text-center" id="th-seo-score">{{ column_seo_score }}</td>
                    <td class="text-center" id="th-readability-score">{{ column_readability_score }}</td>
                    
                    <td class="text-right">{{ column_action }}</td>
                  </tr>
                </thead>
                <tbody>
                  
                  {% if products %}
                    {% for product in products %}
                      <tr>
                        <input type="hidden" name="action" >
                        <td class="text-center">{% if product.product_id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                        {% else %}
                        <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                        {% endif %}</td>

                        <td class="text-center" id="td-image">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>

                        <td class="text-left" id="td-name">{{ product.name }}</td>
                        <td class="text-left" id="td-model">{{ product.model }}</td>
                        <td class="text-right" id="td-price">{{ product.price }}</td>

                        <td class="text-right" id="td-quantity">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>

                        <td class="text-left" id="td-status">{{ product.status }}</td>

                        <td class="text-left" id="td-meta-title" style="display:none">{{ product.meta_title }}</td>

                        <td class="text-left" id="td-meta-keyword" style="display:none">{{ product.meta_keyword }}
                        </td>
                        <td class="text-left" id="td-tags" style="display:none">{{ product.tag }}</td>

                        <td class="text-left" id="td-image-custom-title" style="display:none">{{ product.image_custom_title }}</td>

                        <td class="text-left" id="td-image-custom-alt" style="display:none">{{ product.image_custom_alt }}</td>
                        
                        <td class="text-center" id="td-seo-score">

                          {% if product.seo_score >= 70 %}
                            <i class="fa fa-circle fa-lg text-success" title="{{ text_good }}"></i>
                          {% endif %}

                          {% if product.seo_score >= 50 and product.seo_score < 70 %}
                            <i class="fa fa-circle fa-lg text-warning" title="{{ text_acceptable }}"></i>
                          {% endif %}

                          {% if product.seo_score > 0 and product.seo_score < 50 %}
                             <i class="fa fa-circle fa-lg text-danger" title="{{ text_need_improvements }}" ></i>
                          {% endif %}

                          {% if product.seo_score <= 0 %}
                            <i class="fa fa-circle fa-lg text-default" title="{{ text_not_started }}"></i>
                          {% endif %}

                        </td>

                        <td class="text-center" id="td-readability-score">

                          {% if product.readability_score >= 60 %}
                            <i class="fa fa-circle fa-lg text-success" title="{{ text_good }}"></i>
                          {% endif %}

                          {% if product.readability_score >= 50 and product.readability_score < 60 %}
                            <i class="fa fa-circle fa-lg text-warning" title="{{ text_acceptable }}"></i>
                          {% endif %}

                          {% if product.readability_score > 0 and product.readability_score < 50 %}
                            <i class="fa fa-circle fa-lg text-danger" title="{{ text_need_improvements }}" ></i>
                          {% endif %}

                          {% if product.readability_score <= 0 %}
                            <i class="fa fa-circle fa-lg text-default" title="{{ text_not_started }}"></i>
                          {% endif %}

                        </td>

                        <td class="text-right"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="10">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
   $('input[name=\'screen-option\']').change(function(){

      $id = $(this).attr('data-id');
      
       if(this.checked)
       {
        $('#product-table').find('#th-'+$id).show();
        $('#product-table').find('td#td-'+$id).show();
       } else {
          $('#product-table').find('#th-'+$id).hide();
          $('#product-table').find('td#td-'+$id).hide();
       }
   });

});
</script>
  


<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = '';
  var filter_name = $('input[name=\'filter_name\']').val();
  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }
  var filter_model = $('input[name=\'filter_model\']').val();
  if (filter_model) {
    url += '&filter_model=' + encodeURIComponent(filter_model);
  }

    var filter_meta_title_status = $('select[name=\'filter_meta_title_status\']').val();
  if (filter_meta_title_status !== '') {
    url += '&filter_meta_title_status=' + encodeURIComponent(filter_meta_title_status);
  }

   var filter_meta_description_status = $('select[name=\'filter_meta_description_status\']').val();
  if (filter_meta_description_status !== '') {
    url += '&filter_meta_description_status=' + encodeURIComponent(filter_meta_description_status);
  }

   var filter_meta_keywords_status = $('select[name=\'filter_meta_keywords_status\']').val();
  if (filter_meta_keywords_status !== '') {
    url += '&filter_meta_keywords_status=' + encodeURIComponent(filter_meta_keywords_status);
  }
  
  var filter_quantity_status = $('select[name=\'filter_quantity_status\']').val();
  if (filter_quantity_status !== '') {
    url += '&filter_quantity_status=' + encodeURIComponent(filter_quantity_status);
  }

  var filter_tags_status = $('select[name=\'filter_tags_status\']').val();
  if (filter_tags_status !== '') {
    url += '&filter_tags_status=' + encodeURIComponent(filter_tags_status);
  }

  var filter_image_custom_title_status = $('select[name=\'filter_image_custom_title_status\']').val();
  if (filter_image_custom_title_status !== '') {
    url += '&filter_image_custom_title_status=' + encodeURIComponent(filter_image_custom_title_status);
  }

  var filter_image_custom_alt_status = $('select[name=\'filter_image_custom_alt_status\']').val();
  if (filter_image_custom_alt_status !== '') {
    url += '&filter_image_custom_alt_status=' + encodeURIComponent(filter_image_custom_alt_status);
  }

  var filter_seo_status = $('select[name=\'filter_seo_status\']').val();
  if (filter_seo_status !== '') {
    url += '&filter_seo_status=' + encodeURIComponent(filter_seo_status);
  }


  var filter_image_status = $('select[name=\'filter_image_status\']').val();
  if (filter_image_status !== '') {
    url += '&filter_image_status=' + encodeURIComponent(filter_image_status);
  }

  var filter_custom_h1_tag_status = $('select[name=\'filter_custom_h1_tag_status\']').val();
  if (filter_custom_h1_tag_status !== '') {
    url += '&filter_custom_h1_tag_status=' + encodeURIComponent(filter_custom_h1_tag_status);
  }

   var filter_custom_h2_tag_status = $('select[name=\'filter_custom_h2_tag_status\']').val();
  if (filter_custom_h2_tag_status !== '') {
    url += '&filter_custom_h2_tag_status=' + encodeURIComponent(filter_custom_h2_tag_status);
  }


  var filter_status = $('select[name=\'filter_status\']').val();
  if (filter_status !== '') {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  location = 'index.php?route=extension/module/reports_pro/product&user_token={{ user_token }}' + url;
});
//--></script>
<script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
  $('#form-product').attr('action', $(this).attr('formaction'));
});

$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item['label']);
  }
});
$('input[name=\'filter_model\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['model'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_model\']').val(item['label']);
  }
});

//--></script></div>
{{ footer }}