{{ header }}	
<script src="view/javascript/colorbox/jquery.minicolors.js"></script>
<link rel="stylesheet" href="view/stylesheet/jquery.minicolors.css">
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-setting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      
      <h1>{{ heading_title1 }}</h1>
      <ul class="breadcrumb">
         {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-setting" class="form-horizontal">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-customsetting" data-toggle="tab">{{ tab_customsetting }}</a></li>
				<li><a href="#tab-customersetting" data-toggle="tab">{{ tab_customersetting }}</a></li>
				<li><a href="#tab-paymentmethod" data-toggle="tab">{{ tab_paymentmethod }}</a></li>
				<li><a href="#tab-invoice" data-toggle="tab">{{ tab_invoice }}</a></li>
				<li><a href="#tab-dashboard" data-toggle="tab">{{ tab_dashboard }}</a></li>
				<li><a href="#tab-customermail" data-toggle="tab">{{ tab_cmail }}</a></li>
				<li><a href="#tab-ordermail" data-toggle="tab">{{ tab_omail }}</a></li>
				<li><a href="#tab-paysetting" data-toggle="tab">{{ tab_paysetting }}</a></li>
			<!-- 24 09 2019 -->
				<li><a href="#tab-barcode" data-toggle="tab">{{ tab_barcode }}</a></li>
			<!-- 24 09 2019 -->
			</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-customsetting">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_status">{{ entry_status }}</label>
				    <div class="col-sm-10">
				          <select name="setting_status" id="input-setting-status" class="form-control">
				          {% if setting_status %}
				            <option value="0">{{ text_disabled }}</option>
				            <option value="1" selected="selected">{{ text_enabled }}</option>
				          {% else %}
				            <option value="0" selected="selected">{{ text_disabled }}</option>
				            <option value="1">{{ text_enabled }}</option>
				          {% endif %}
				          </select>
					</div>
				</div>
				<div class="table-responsive">
                <table id="register" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_fieldname }}</td>
                      <td class="text-left">{{ entry_label }}</td>
                      <td class="text-left">{{ entry_error }}</td>
                      <td class="text-left">{{ entry_required }}</td>
					  <td class="text-left">{{ entry_status }}</td>
                      <td class="text-left hide">{{ entry_sort }}</td>
                     
                    </tr>
                  </thead>
                  <tbody>
					<tr>
				<td class="text-left"><label>{{ entry_firstname }}</label></td>
				<td class="text-left">{% for language in languages %}
				{% if setting_settings.firstnamelabel[ language.language_id ] %}
				  {% set value = setting_settings.firstnamelabel[ language.language_id ] %}
				{% else %}
							{% set value = ''%}
					{% endif %}
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						
						<input name="setting_settings[firstnamelabel][{{ language.language_id }}]" placeholder="{{ entry_firstname }}" value="{{ value }}" class="form-control"/>
						</div>
						{% endfor %}
						</td>
						
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.firstnamerror[ language.language_id] %}
                          {% set value = setting_settings.firstnamerror[ language.language_id ] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
						
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						<input name="setting_settings[firstnamerror][{{ language.language_id }}]" placeholder="{{ entry_firstname_missing }}" class="form-control" value="{{ value }}"/>
						</div>
						{% endfor %}
						</td>
					    <td class="text-left">
                          <label class="radio-inline">
							{% if setting_fnamerequired %}
							<input type="radio" name="setting_fnamerequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_fnamerequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_fnamerequired %}
							<input type="radio" name="setting_fnamerequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_fnamerequired" value="0" />{{ text_no }}
							{% endif %}</label>    
                            
					     </td>
					    <td class="text-left">
					     <label class="radio-inline">
						 {% if setting_fnamestatus %}
						   <input type="radio" name="setting_fnamestatus" value="1" checked="checked" />
						   {{ text_yes }}
						 {% else %}
						   <input type="radio" name="setting_fnamestatus" value="1" />
						   {{ text_yes }}
					    {% endif %}
						</label>
						<label class="radio-inline">
						 {% if not setting_fnamestatus %}
						  <input type="radio" name="setting_fnamestatus" value="0" checked="checked" />
					      {{ text_no }}
					    {% else %}
					     <input type="radio" name="setting_fnamestatus" value="0" />{{ text_no }}
					    {% endif %}
						</label></td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_fnamesortorder" value="{{ setting_fnamesortorder }}" placeholder="" class="form-control" />
						</td>
						
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_lastname }}</label></td>
						<td class="text-left">{% for language in languages %}
						{% if setting_settings.lastnamelabel[ language.language_id] %}
                          {% set value = setting_settings.lastnamelabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}	
							
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[lastnamelabel][{{ language.language_id }}]" placeholder="{{ entry_lastname }}" value="{{ value }}" class="form-control"/>
						</div>
						{% endfor %}
						</td>
						
						<td class="text-left">{% for language in languages %}
						
                        {% if setting_settings.lastnamerror[ language.language_id] %}
                          {% set value = setting_settings.lastnamerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}	
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[lastnamerror][{{ language.language_id }}]" placeholder="{{ entry_lastname_missing }}"  value="{{ value }}" class="form-control"/>
						</div>
						{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_lastnamerequired %}
							<input type="radio" name="setting_lastnamerequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_lastnamerequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_lastnamerequired %}
							<input type="radio" name="setting_lastnamerequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_lastnamerequired" value="0" />{{ text_no }}
							{% endif %}</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_lastnamestatus %}
							<input type="radio" name="setting_lastnamestatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_lastnamestatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_lastnamestatus %}
							<input type="radio" name="setting_lastnamestatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_lastnamestatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide">
							<input type="text" name="setting_lastnamesortorder" value="{{ setting_lastnamesortorder }}" placeholder="" class="form-control" />	
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_email }}</label></td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.emaillabel[ language.language_id] %}
                          {% set value = setting_settings.emaillabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}	
						
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[emaillabel][{{ language.language_id }}]" placeholder="{{ entry_email }}" value="{{ value }}" class="form-control"/>
						</div>
						{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.emailerror[ language.language_id] %}
                          {% set value = setting_settings.emailerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
													
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							  <input name="setting_settings[emailerror][{{ language.language_id }}]" placeholder="{{ entry_email_missing }}" value="{{ value }}"class="form-control"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_emailrequired %}
							<input type="radio" name="setting_emailrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_emailrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_emailrequired %}
							<input type="radio" name="setting_emailrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_emailrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_emailstatus %}
							<input type="radio" name="setting_emailstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_emailstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_emailstatus %}
							<input type="radio" name="setting_emailstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_emailstatus" value="0" />{{ text_no }}
							{% endif %}
						</label>
						</td>
            			<td class="text-left hide">
							<input type="text" name="setting_emailsortorder" value="{{ setting_emailsortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_telephone }}</label></td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.phonelabel[ language.language_id] %}
                          {% set value = setting_settings.phonelabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
						
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[phonelabel][{{ language.language_id }}]" placeholder="{{ entry_telephone }}" value="{{ value }}" class="form-control"/>
						</div>
						{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.phonerror[ language.language_id] %}
                          {% set value = setting_settings.phonerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
						
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[phonerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}" />
						</div>
						{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_phonerequired %}
							<input type="radio" name="setting_phonerequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_phonerequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_phonerequired %}
							<input type="radio" name="setting_phonerequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_phonerequired" value="0" />{{ text_no }}
							{% endif %}</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_phonestatus %}
							<input type="radio" name="setting_phonestatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_phonestatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_phonestatus %}
							<input type="radio" name="setting_phonestatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_phonestatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide">
						<input type="text" name="setting_phonesortorder" value="{{ setting_phonesortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_fax }}</label></td>
						<td class="text-left">{% for language in languages %}
                         {% if setting_settings.faxlabel[ language.language_id] %}
                          {% set value = setting_settings.faxlabel[language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[faxlabel][{{ language.language_id }}][" placeholder="{{ entry_fax }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                         {% if setting_settings.faxerror[ language.language_id] %}
                          {% set value = setting_settings.faxerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
						
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						  <input name="setting_settings[faxerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
						</div>
						{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_faxrequired %}
							<input type="radio" name="setting_faxrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_faxrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_faxrequired %}
							<input type="radio" name="setting_faxrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_faxrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_faxstatus %}
							<input type="radio" name="setting_faxstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_faxstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_faxstatus %}
							<input type="radio" name="setting_faxstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_faxstatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
                        <td class="text-left hide">
							<input type="text" name="setting_faxsortorder" value="{{ setting_faxsortorder }}" placeholder="" class="form-control" />	
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_company }}</label></td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.companylabel[ language.language_id] %}
                          {% set value = setting_settings.companylabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input name="setting_settings[companylabel][{{ language.language_id }}]" placeholder="{{ entry_company }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.companyerror[ language.language_id] %}
                          {% set value = setting_settings.companyerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								<input name="setting_settings[companyerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
					    <td class="text-left">
							<label class="radio-inline">
							{% if setting_compquired %}
							<input type="radio" name="setting_compquired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_compquired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_compquired %}
							<input type="radio" name="setting_compquired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_compquired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
					    <td class="text-left">
							<label class="radio-inline">
							{% if setting_compstatus %}
							<input type="radio" name="setting_compstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_compstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_compstatus %}
							<input type="radio" name="setting_compstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_compstatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide">
							<input type="text" name="setting_compsortorder" value="{{ setting_compsortorder }}" placeholder="" class="form-control" />	
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_address1 }}</label></td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.add1label[ language.language_id] %}
                          {% set value = setting_settings.add1label[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
								
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[add1label][{{ language.language_id }}]" placeholder="{{ entry_address1 }}" class="form-control" value="{{ value }}" />
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.add1error[ language.language_id] %}
                          {% set value = setting_settings.add1error[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[add1error][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_add1required %}
							<input type="radio" name="setting_add1required" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_add1required" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_add1required %}
							<input type="radio" name="setting_add1required" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_add1required" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_add1status %}
							<input type="radio" name="setting_add1status" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_add1status" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_add1status %}
							<input type="radio" name="setting_add1status" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_add1status" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide">
							<input type="text" name="setting_add1sortorder" value="{{ setting_add1sortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_address2 }}</label></td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.add2label[ language.language_id] %}
                          {% set value = setting_settings.add2label[language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[add2label][{{ language.language_id }}]" placeholder="{{ entry_address2 }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.add2error[ language.language_id] %}
                          {% set value = setting_settings.add2error[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[add2error][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_add2required %}
							<input type="radio" name="setting_add2required" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_add2required" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_add2required %}
							<input type="radio" name="setting_add2required" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_add2required" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_add2status %}
							<input type="radio" name="setting_add2status" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_add2status" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_add2status %}
							<input type="radio" name="setting_add2status" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_add2status" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>	
						<td class="text-left hide">
							<input type="text" name="setting_add2sortorder" value="{{ setting_add2sortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					
					<tr>
						<td class="text-left"><label>{{ entry_city }}</label></td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.citylabel[ language.language_id] %}
                          {% set value = setting_settings.citylabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[citylabel][{{ language.language_id }}]" placeholder="{{ entry_city }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.cityerror[ language.language_id] %}
                          {% set value = setting_settings.cityerror[language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[cityerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_cityrequired %}
							<input type="radio" name="setting_cityrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_cityrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_cityrequired %}
							<input type="radio" name="setting_cityrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_cityrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_citystatus %}
							<input type="radio" name="setting_citystatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_citystatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_citystatus %}
							<input type="radio" name="setting_citystatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_citystatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_citysortorder" value="{{ setting_citysortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_postcode }}</label></td>
						<td class="text-left">{% for language in languages %}
                            
                         {% if setting_settings.postcodelabel[ language.language_id] %}
                          {% set value = setting_settings.postcodelabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[postcodelabel][{{ language.language_id }}]" placeholder="{{ entry_postcode }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                         {% if setting_settings.postcoderror[ language.language_id] %}
                          {% set value = setting_settings.postcoderror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[postcoderror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_postcodrequired %}
							<input type="radio" name="setting_postcodrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_postcodrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_postcodrequired %}
							<input type="radio" name="setting_postcodrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_postcodrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_postcodstatus %}
							<input type="radio" name="setting_postcodstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_postcodstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_postcodstatus %}
							<input type="radio" name="setting_postcodstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_postcodstatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_postcodsortorder" value="{{ setting_postcodsortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_country }}</label></td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.countrylabel[ language.language_id] %}
                          {% set value = setting_settings.countrylabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[countrylabel][{{ language.language_id }}]" placeholder="{{ entry_country }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.countryerror[ language.language_id] %}
                          {% set value = setting_settings.countryerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[countryerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_countryrequired %}
							<input type="radio" name="setting_countryrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_countryrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_countryrequired %}
							<input type="radio" name="setting_countryrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_countryrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_countrystatus %}
							<input type="radio" name="setting_countrystatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_countrystatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_countrystatus %}
							<input type="radio" name="setting_countrystatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_countrystatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
                        <td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_countrysortorder" value="{{ setting_countrysortorder }}" placeholder="" class="form-control" />
						</td>
						
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_zone }}</label></td>
						<td class="text-left">{% for language in languages %}
                        {% if setting_settings.zonelabel[ language.language_id] %}
                          {% set value = setting_settings.zonelabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[zonelabel][{{ language.language_id }}]" placeholder="{{ entry_zone }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
						{% if setting_settings.zonerror[ language.language_id] %}
                          {% set value = setting_settings.zonerror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[zonerror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_zonerequired %}
							<input type="radio" name="setting_zonerequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_zonerequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_zonerequired %}
							<input type="radio" name="setting_zonerequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_zonerequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_zonestatus %}
							<input type="radio" name="setting_zonestatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_zonestatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_zonestatus %}
							<input type="radio" name="setting_zonestatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_zonestatus" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_zonesortorder" value="{{ setting_zonesortorder }}" placeholder="" class="form-control" />
						</td>
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_password }}</label></td>
						<td class="text-left">{% for language in languages %}
                            
                        {% if setting_settings.pwdlabel[ language.language_id] %}
                          {% set value = setting_settings.pwdlabel[language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[pwdlabel][{{ language.language_id }}]" placeholder="{{ entry_password }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
							{% if setting_settings.pwderror[ language.language_id] %}
                          {% set value = setting_settings.pwderror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[pwderror][{{ language.language_id }}]" placeholder="{{ entry_password_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_pwdrequired %}
							<input type="radio" name="setting_pwdrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_pwdrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_pwdrequired %}
							<input type="radio" name="setting_pwdrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_pwdrequired" value="0" />{{ text_no }}
							{% endif %}
							</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_pwdstatus %}
							<input type="radio" name="setting_pwdstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_pwdstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_pwdstatus %}
							<input type="radio" name="setting_pwdstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_pwdstatus" value="0" />{{ text_no }}
							{% endif %}</label>
						</td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_pwdsortorder" value="{{ setting_pwdsortorder }}" placeholder="" class="form-control" />
						</td>
						
                    </tr>
					<tr>
						<td class="text-left"><label>{{ entry_confirm_password }}</label></td>
						<td class="text-left">{% for language in languages %}
							{% if setting_settings.cpwdlabel[ language.language_id] %}
                          {% set value = setting_settings.cpwdlabel[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[cpwdlabel][{{ language.language_id }}]" placeholder="{{ entry_confirm_password }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">{% for language in languages %}
							{% if setting_settings.cpwderror[ language.language_id] %}
                          {% set value = setting_settings.cpwderror[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input name="setting_settings[cpwderror][{{ language.language_id }}]" placeholder="{{ entry_error }}" class="form-control" value="{{ value }}"/>
							</div>
							{% endfor %}
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_cpwdrequired %}
							<input type="radio" name="setting_cpwdrequired" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_cpwdrequired" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_cpwdrequired %}
							<input type="radio" name="setting_cpwdrequired" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_cpwdrequired" value="0" />{{ text_no }}
							{% endif %}</label>
						</td>
						<td class="text-left">
							<label class="radio-inline">
							{% if setting_cpwdstatus %}
							<input type="radio" name="setting_cpwdstatus" value="1" checked="checked" />
							{{ text_yes }}
							{% else %}
							<input type="radio" name="setting_cpwdstatus" value="1" />
							{{ text_yes }}
							{% endif %}
							</label>
							<label class="radio-inline">
							{% if not setting_cpwdstatus %}
							<input type="radio" name="setting_cpwdstatus" value="0" checked="checked" />
							{{ text_no }}
							{% else %}
							<input type="radio" name="setting_cpwdstatus" value="0" />{{ text_no }}
							{% endif %}</label>
						</td>
						<td class="text-left hide" style="width:8%;">
							<input type="text" name="setting_cpwdsortorder" value="{{ setting_cpwdsortorder }}" placeholder="" class="form-control" />
						</td>
						
                    </tr>
					
                  </tbody>
                </table>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-email-exist">{{ entry_email_warning }}</label>
					<div class="col-sm-10">
						{% for language in languages %}
						{% if setting_settings.emailexist[ language.language_id] %}
                          {% set value = setting_settings.emailexist[ language.language_id] %}
                        {% else %}
							{% set value = ''%}
					    {% endif %}
							<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							  <input name="setting_settings[emailexist][{{ language.language_id }}]" placeholder="{{ entry_title }}" class="form-control" value="{{ value }}"/>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		  <div class="tab-pane" id="tab-customersetting">
              
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-customer_group"><span data-toggle="tooltip" title="{{ help_customer_group }}">{{ entry_customer_group }}</span></label>
				<div class="col-sm-10">
					<select name="setting_customer_group_id" id="input-customer_group" class="form-control">
						{% for customer_group in customer_groups %}
				        {% if customer_group.customer_group_id == setting_customer_group %}
				        <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
				        {% else %}
				        <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
				        {% endif %}
				        {% endfor %}
				    </select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-newsletter"><span data-toggle="tooltip" title="{{ help_newsletter }}">{{ entry_newsletter }}</span></label>
				<div class="col-sm-10">
					<select name="setting_newsletter" id="input-status" class="form-control">
						{% if setting_newsletter %}
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %}
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-default_password"><span data-toggle="tooltip" title="{{ help_default_password }}">{{ entry_default_password }}</span></label>
				<div class="col-sm-10">
					<input type="text" name="setting_default_password" value="{{ setting_default_password }}" placeholder="{{ entry_default_password }}" id="input-default_password" class="form-control" />
				</div>
			</div>
			
			<!--<div class="form-group">
				<label class="col-sm-2 control-label" for="input-customer_group">{{ entry_customer_group }}</label>
				<div class="col-sm-10">
					<select name="setting_customer_group" id="input-customer_group" class="form-control">
				{% for customer_group in customer_groups %}
	            {% if customer_group.customer_group_id == setting_customer_group %}
	            <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
	            {% else %}
	            <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
	            {% endif %}
	            {% endfor %}
	        </select>
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_firstname" value="{{ setting_firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_lastname" value="{{ setting_lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_email" value="{{ setting_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_telephone" value="{{ setting_telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-fax">{{ entry_fax }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_fax" value="{{ setting_fax }}" placeholder="{{ entry_fax }}" id="input-fax" class="form-control" />
				</div>
			</div>
			<h3>Default Customer Address</h3>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-company">{{ entry_company }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_company" value="{{ setting_company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-address1">{{ entry_address1 }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_address1" value="{{ setting_address1 }}" placeholder="{{ entry_address1 }}" id="input-address1" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-address2">{{ entry_address2 }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_address2" value="{{ setting_address2 }}" placeholder="{{ entry_address2 }}" id="input-address2" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-city">{{ entry_city }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_city" value="{{ setting_city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-postcode">{{ entry_postcode }}</label>
				<div class="col-sm-10">
					<input type="text" name="setting_postcode" value="{{ setting_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-country">{{ entry_country }}</label>
				<div class="col-sm-10">
					<select name="setting_country_id" id="input-country" class="form-control">
						<option value="">{{ text_select }}</option>
						{% for country in countries  %}
						{% if country.country_id == setting_country_id %}
						<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
						{% else %}
						<option value="{{ country.country_id }}">{{ country.name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-zone">{{ entry_zone }}</label>
				<div class="col-sm-10">
					<select type="text" name="setting_zone_id" placeholder="{{ entry_zone }}" id="input-zone" class="form-control" >
					</select>
				</div>
			</div>

		  </div>
		  <div class="tab-pane" id="tab-paymentmethod">
			<div class="table-responsive">
                <table id="payment" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_name }}</td>
                      <td class="text-left">{{ entry_order_status }}</td>
                      <td class="text-left">{{ entry_sortorder }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                  <!-- Payment Method -->
                  {% set payment_row = 0 %}
                   {% for setting_paymentmethod in setting_paymentmethods %}
                    
                    <tr id="payment-row{{ payment_row }}">
						<td class="text-left"><input type="text" name="setting_paymentmethod[{{ payment_row }}][name]" value="{{ setting_paymentmethod.name }}" class="form-control" placeholder="{{ entry_name }}"/></td>
						<td class="text-left">
							<select name="setting_paymentmethod[{{ payment_row }}][order_status_id]" id="input-order_status" class="form-control">
							<option value="">{{ text_select }}</option>
							{% for order_status in order_statuss %}
							{% if order_status.order_status_id == setting_paymentmethod.order_status_id %}
								<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
								{% else %}
								<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
								{% endif %}
								{% endfor %}
							</select>
						</td>
						<td class="text-left"><input type="text" name="setting_paymentmethod[{{ payment_row }}][sortorder]" value="{{ setting_paymentmethod.sortorder }}" class="form-control" placeholder="{{ entry_sortorder }}"/></td>
						<td class="text-left"><button type="button" onclick="$('#payment-row{{ payment_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                    </tr>
                     {% set payment_row = payment_row+1 %}
                    {% endfor %}
<!-- Payment Method -->
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3"></td>
                      <td class="text-left"><button type="button" onclick="addPayment();" data-toggle="tooltip" title="{{ button_discount_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
		  	</div>
		  	<div class="tab-pane" id="tab-invoice"> 
				<div class="form-group ">
					<label class="col-sm-2 control-label" for="input-setting_format">{{ entry_format }}</label>
					<div class="col-sm-10">
						<select name="setting_format" id="input-setting_format" class="form-control">
						{% if setting_format %}
						<option value="1" selected="selected">{{ text_3mm }}</option>
						<option value="0">{{ text_fullsize }}</option>
						{% else %}
						<option value="1">{{ text_3mm }}</option>
						<option value="0" selected="selected">{{ text_fullsize }}</option>
						{% endif %}
						</select>
					</div>
				</div> 
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_logo }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_store_logo %}
	                    <input type="radio" name="setting_store_logo" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_store_logo" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_store_logo %}
	                    <input type="radio" name="setting_store_logo" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_store_logo" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_sname }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_store_name %}
	                    <input type="radio" name="setting_store_name" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_store_name" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_store_name %}
	                    <input type="radio" name="setting_store_name" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_store_name" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_saddress }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_store_address %}
	                    <input type="radio" name="setting_store_address" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_store_address" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_store_address %}
	                    <input type="radio" name="setting_store_address" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_store_address" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_stelephone }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_store_telephone %}
	                    <input type="radio" name="setting_store_telephone" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_store_telephone" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_store_telephone %}
	                    <input type="radio" name="setting_store_telephone" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_store_telephone" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_odate }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_order_date %}
	                    <input type="radio" name="setting_order_date" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_order_date" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_order_date %}
	                    <input type="radio" name="setting_order_date" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_order_date" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_otime }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_order_time %}
	                    <input type="radio" name="setting_order_time" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_order_time" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_order_time %}
	                    <input type="radio" name="setting_order_time" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_order_time" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_number }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_invoice_number %}
	                    <input type="radio" name="setting_invoice_number" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_invoice_number" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_invoice_number %}
	                    <input type="radio" name="setting_invoice_number" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_invoice_number" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_cname }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_cashier_name %}
	                    <input type="radio" name="setting_cashier_name" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_cashier_name" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_cashier_name %}
	                    <input type="radio" name="setting_cashier_name" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_cashier_name" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_smode }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_shipping_mode %}
	                    <input type="radio" name="setting_shipping_mode" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_shipping_mode" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_shipping_mode %}
	                    <input type="radio" name="setting_shipping_mode" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_shipping_mode" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_pmode }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_payment_mode %}
	                    <input type="radio" name="setting_payment_mode" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_payment_mode" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_payment_mode %}
	                    <input type="radio" name="setting_payment_mode" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_payment_mode" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_onote }}</label>
	                <div class="col-sm-10">
	                  <label class="radio-inline">
	                    {% if setting_order_note %}
	                    <input type="radio" name="setting_order_note" value="1" checked="checked" />
	                    {{ text_yes }}
	                    {% else %}
	                    <input type="radio" name="setting_order_note" value="1" />
	                    {{ text_yes }}
	                    {% endif %}
	                  </label>
	                  <label class="radio-inline">
	                    {% if not setting_order_note %}
	                    <input type="radio" name="setting_order_note" value="0" checked="checked" />
	                    {{ text_no }}
	                    {% else %}
	                    <input type="radio" name="setting_order_note" value="0" />
	                    {{ text_no }}
	                    {% endif %}
	                  </label>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">{{ entry_extra }}</label>
	                <div class="col-sm-10">
	                  <textarea name="setting_extra" rows="5" placeholder="{{ entry_extra }}" id="input-extra" class="form-control">{{ setting_extra }}</textarea>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label" from="input-setting_invoice">{{ entry_invoice }}</label>
	                <div class="col-sm-10">
	                  <textarea name="setting_invoice" rows="5" placeholder="{{ entry_invoice }}" id="input-setting_invoice" class="form-control">{{ setting_invoice }}</textarea>
	                </div>
	            </div>
				
		  	</div>
		  	<div class="tab-pane" id="tab-dashboard">
		  		<div class="row">
		  			<div class="col-sm-2">
		  				<ul class="nav nav-pills nav-stacked" id="dashboard">
							{% set order_row = 0 %}
							{% for setting_dashboard in setting_dashboards %}
							
							<li><a href="#tab-dashboard{{ order_row }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('#dashboard a:first').tab('show'); $('#dashboard a[href=\'#tab-dashboard{{ order_row }}\']').parent().remove(); $('#tab-dashboard{{ order_row }}').remove();"></i> {{ setting_dashboard.name }}</a></li>

							{% set order_row=order_row+1 %}
							{% endfor %}
							<li id="dashboard-add"><a onclick="addCustome();" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add }}</a></li>
						</ul>
		  			</div>
		  			<div class="col-sm-10">
                  		<div class="tab-content">
                  			{% set order_row = 0 %}
                  			{% if setting_dashboards %}
                			{% for setting_dashboard in setting_dashboards %}
                  			<div class="tab-pane active" id="tab-dashboard{{ order_row }}">
                  				<div class="form-group">
									<label class="col-sm-2 control-label" for="input-value{{ order_row }}">{{ entry_name }}</label>
									<div class="col-sm-10">
										<input type="text" name="setting_dashboard[{{ order_row }}][name]" value="{{ setting_dashboard.name }}" placeholder="{{ entry_name }}" id="input-value" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-order_status{{ order_row }}">{{ entry_order_status }}</label>
									<div class="col-sm-10">
										<div class="well well-sm" style="height: 150px; overflow: auto;">
								{% for order in orderstatuss %}
								<div class="checkbox">
								<label>	
				{% if order.order_status_id in setting_dashboard.dashboard_orderstatus %}
								<input type="checkbox" name="setting_dashboard[{{ order_row }}][dashboard_orderstatus][{{ order.order_status_id }}][order_status_id]" value="{{ order.order_status_id }}" checked="checked" />
								{{ order.name }}
				{% else %}
				<input type="checkbox" name="setting_dashboard[{{ order_row }}][dashboard_orderstatus][{{ order.order_status_id }}][order_status_id]" value="{{ order.order_status_id }}" />
								{{ order.name }}
								{% endif %}
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
								
						<!-- Payment Method -->
				<div class="form-group">
				   <label class="col-sm-2 control-label">{{ entry_method }}</label>
				   <div class="col-sm-10">
				    <div class="well well-sm" style="height: 150px; overflow: auto;">
				    {% for payment in paymentmethods %}
				    <div class="checkbox">
				      <label>
				    {% if payment.name in setting_dashboard.dashboard_paymentmethod %}
				     <input type="checkbox" name="setting_dashboard[{{ order_row }}][dashboard_paymentmethod][{{ payment.name }}][method]" value="{{ payment.name }}" checked="checked" />
				     {{ payment.name }}
				   {% else %}
					 <input type="checkbox" name="setting_dashboard[{{ order_row }}][dashboard_paymentmethod][{{ payment.name }}][method]" value="{{ payment.name }}" />
				     {{ payment.name }}
				{% endif %}
				                                </label>
				                            </div>
				                           {% endfor %}
				                        </div>
				                    </div>
				                </div>
				        <!-- Payment Method -->

								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status{{ order_row }}">{{ entry_status }}</label>
									<div class="col-sm-10">
										<select name="setting_dashboard[{{ order_row }}][dashboard_status]" id="input-status{{ order_row }}" class="form-control">
				{% if setting_dashboard.dashboard_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-value{{ order_row }}">{{ entry_sortorder }}</label>
									<div class="col-sm-10">
										<input type="text" name="setting_dashboard[{{ order_row }}][sort_order]" value="{{ setting_dashboard.sort_order }}" placeholder="{{ entry_sortorder }}" id="input-value{{ order_row }}" class="form-control" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-daytype">{{ entry_daytype }}</label>
									<div class="col-sm-10">
										<select name="setting_dashboard[{{ order_row }}][daytype]" class="form-control">
				{% for result in daytypes %}
				  {% if setting_dashboard.daytype == result.daytype %}
				<option value="{{ result.daytype }}" selected="selected">{{ result.value }}</option> 
											{% else %}
												<option value="{{ result.daytype }}">{{ result.value }}</option> 
											{% endif %}
											{% endfor %}
										</select>	
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-color">{{ entry_textcolor }}</label>
									<div class="col-sm-10">
										<input type="text" name="setting_dashboard[{{ order_row }}][text_color]" value="{{ setting_dashboard.text_color }}" placeholder="{{ entry_textcolor }}" class="form-control color" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-color">{{ entry_bgcolor }}</label>
									<div class="col-sm-10">
										<input type="text" name="setting_dashboard[{{ order_row }}][bg_color]" value="{{ setting_dashboard.bg_color }}" placeholder="{{ entry_bgcolor }}" class="form-control color" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ entry_icon }}</label>
									<div class="col-sm-4">
                                     <div class="input-group">
										<input type="text" name="setting_dashboard[{{ order_row }}][icon]" value="{{ setting_dashboard.icon }}" placeholder="{{ entry_icon }}" id="input-value{{ order_row }}" class="form-control fontbox" />
                                        <span class="input-group-addon"></span>
									</div>
									</div>
								</div>
                  			</div>
                  			{% set order_row=order_row+1 %}
							{% endfor %}	
							{% endif %}
                  		</div>
                  	</div>

		  		</div>
		  	</div>
		  	<div class="tab-pane" id="tab-customermail">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
					<div class="col-sm-10">
						<input type="text" name="setting_customers_subject" value="{{ setting_customers_subject }}" placeholder="{{ entry_subject }}" id="input-subject" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-message">{{ entry_message }}</label>
					<div class="col-sm-10">
						<textarea type="text" name="setting_customers_message" value="" placeholder="{{ entry_message }}" id="input-message" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ setting_customers_message }}</textarea>
					</div>
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label" for="input-shortcuts">shortcuts</label>
					<div class="col-sm-10">
					  <ul class="list-unstyled">
                        <li><p>{firstname} </p>        = First Name</li>
                        <li><p>{lastname} </p>         = Last Name</li>
                        <li><p>{email}  </p>           = Email</li>
                        <li><p>{telephone} </p>  	   = Telephone</li>
                        <li><p>{fax}  </p>             = Fax</li>
                        <li><p>{company}</p>       = Company Name</li>
                        <li><p>{address_1} </p>         =  Address1</li>
                        <li><p>{address_2} </p>         =  Address2</li>
                        <li><p>{city}</p>              = City</li>
                        <li><p>{postcode} </p>         = PostCode</li>
                        <li><p>{country} </p>      = Country</li>
                        <li><p>{zone} </p>      = zone</li>
                      </ul>
					</div>
				</div>
		  	</div>
		  	<div class="tab-pane" id="tab-ordermail">
		  		
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
					<div class="col-sm-10">
						<input type="text" name="setting_orders_subject" value="{{ setting_orders_subject }}" placeholder="{{ entry_subject }}" id="input-subject" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-message">{{ entry_message }}</label>
					<div class="col-sm-10">
						<textarea type="text" name="setting_orders_message" placeholder="{{ entry_message }}" id="input-message" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ setting_orders_message }}</textarea>
					</div>
				</div>
			</div>

		  	<div class="tab-pane" id="tab-paysetting">
		  		<!-- Payment Method -->
		  		<div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_default_paymentmethod">{{ entry_paysetting }}</label>
					<div class="col-sm-10">
						<select name="setting_default_paymentmethod" id="input-setting_default_paymentmethod" class="form-control">
					 {% for result in setting_paymentmethods %}
						{% if result.name == setting_default_paymentmethod %}
							<option value="{{ result.name }}" selected="selected">{{ result.name }}</option> 
							{% else %}
							<option value="{{ result.name }}">{{ result.name }}</option> 
							{% endif %}
							{% endfor %}
						</select>
					</div>
	            </div>
<!-- Payment Method -->
	            <div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_defult_guest">{{ entry_defaultguest }}</label>
					<div class="col-sm-10">
						<select name="setting_defult_guest" id="input-setting_defult_guest" class="form-control">
						{% if setting_defult_guest %}
						<option value="1" selected="selected">{{ text_yes }}</option>
						<option value="0">{{ text_no }}</option>
						{% else %}
						<option value="1">{{ text_yes }}</option>
						<option value="0" selected="selected">{{ text_no }}</option>
						{% endif %}
						</select>
					</div>
	            </div>

	            <div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_customermail">{{ entry_customermail }}</label>
					<div class="col-sm-10">
						<select name="setting_customermail" id="input-setting_customermail" class="form-control">
						{% if setting_customermail %}
						<option value="1" selected="selected">{{ text_yes }}</option>
						<option value="0">{{ text_no }}</option>
						{% else %}
						<option value="1">{{ text_yes }}</option>
						<option value="0" selected="selected">{{ text_no }}</option>
						{% endif %}
						</select>
					</div>
	            </div>
	            <div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_ordermail">{{ entry_ordermail }}</label>
					<div class="col-sm-10">
						<select name="setting_ordermail" id="input-setting_ordermail" class="form-control">
						{% if setting_ordermail %}
						<option value="1" selected="selected">{{ text_yes }}</option>
						<option value="0">{{ text_no }}</option>
						{% else %}
						<option value="1">{{ text_yes }}</option>
						<option value="0" selected="selected">{{ text_no }}</option>
						{% endif %}
						</select>
					</div>
	            </div>
		<!-- 24 09 2019 -->
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-pagelimit">{{ entry_pagelimit }}</label>
					<div class="col-sm-10">
						<input type="number" name="setting_pagelimit" value="{{ setting_pagelimit }}" id="input-pagelimit" placeholder="{{ entry_height }}" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-imagesize">{{ entry_imagesize }}</label>
					<div class="col-sm-5">
						<input type="number" name="setting_imageheight" value="{{ setting_imageheight }}" id="input-imagesize" placeholder="{{ entry_height }}" class="form-control"/>
					</div>
					<div class="col-sm-5">
						<input type="number" name="setting_imagewidth" value="{{ setting_imagewidth }}" id="input-imagesize" placeholder="{{ entry_width }}" class="form-control"/>
					</div>
				</div>
		<!-- 24 09 2019 -->
					
		  	</div>

		<!-- 24 09 2019 -->
		  	<div class="tab-pane" id="tab-barcode">
		  		<div class="form-group">
					<label class="col-sm-2 control-label" for="input-pagesize">{{ entry_pagesize }}</label>
					<div class="col-sm-5">
						<input type="number" name="setting_pageheight" value="{{ setting_pageheight }}" id="input-pagesize" placeholder="{{ entry_height }}" class="form-control"/>
					</div>
					<div class="col-sm-5">
						<input type="number" name="setting_pagewidth" value="{{ setting_pagewidth }}" id="input-pagesize" placeholder="{{ entry_width }}" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-size">{{ entry_size }}</label>
					<div class="col-sm-5">
						<input type="number" name="setting_barcodeheight" value="{{ setting_barcodeheight }}" id="input-size" placeholder="{{ entry_height }}" class="form-control"/>
					</div>
					<div class="col-sm-5">
						<input type="number" name="setting_barcodewidth" value="{{ setting_barcodewidth }}" id="input-size" placeholder="{{ entry_width }}" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-pagesize">{{ entry_labelqty }}</label>
					<div class="col-sm-10">
						<input type="number" name="setting_labelqty" value="{{ setting_labelqty }}" id="input-pagesize" placeholder="{{ entry_labelqty }}" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-usecode">{{ entry_usecode }}</label>
					<div class="col-sm-10">
						<select type="text" name="setting_usecode" id="input-setting_usecode" class="form-control">
		                    {% for result in barcodes %}
		                    {% if setting_usecode == result.value %}
		                    <option value="{{ result.value }}" selected="selected">{{ result.text }}</option> 
		                    {% else %}
		                    <option value="{{ result.value }}">{{ result.text }}</option>
		                    {% endif %}
		                    {% endfor %}
                  		</select>
					</div>
				</div>
		  		<div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_showname">{{ entry_showname }}</label>
					<div class="col-sm-10">
						<select name="setting_showname" id="input-setting_showname" class="form-control">
							{% if setting_showname %}
							<option value="1" selected="selected">{{ text_yes }}</option>
							<option value="0">{{ text_no }}</option>
							{% else %}
							<option value="1">{{ text_yes }}</option>
							<option value="0" selected="selected">{{ text_no }}</option>
							{% endif %}
						</select>
					</div>
	            </div>
	            <div class="form-group">
					<label class="col-sm-2 control-label" for="input-setting_showprice">{{ entry_showprice }}</label>
					<div class="col-sm-10">
						<select name="setting_showprice" id="input-setting_showprice" class="form-control">
							{% if setting_showprice %}
							<option value="1" selected="selected">{{ text_yes }}</option>
							<option value="0">{{ text_no }}</option>
							{% else %}
							<option value="1">{{ text_yes }}</option>
							<option value="0" selected="selected">{{ text_no }}</option>
							{% endif %} 
						</select>
					</div>
	            </div>
				
		  	</div>
		  <!-- 24 09 2019 -->

		  	</div>
		</div>
        </form>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#languages a:first').tab('show');
//--></script>


<script type="text/javascript"><!--

var order_row = {{ order_row }};

function addCustome() {
	html  = '<div class="tab-pane active" id="tab-dashboard' + order_row + '">';										 
	html += '	<div class="form-group">';
	html += '	  <label class="col-sm-2 control-label" for="input-value' + order_row + '">{{ entry_name }}</label>';
	html += '	  <div class="col-sm-10"><input type="text" name="setting_dashboard[' + order_row + '][name]" value="" placeholder="{{ entry_name }}" id="input-value' + order_row + '" class="form-control" /></div>';
	html += '	</div>';
	
	html +='<div class="form-group"><label class="col-sm-2 control-label">{{ entry_order_status }}</label>';
	html +='<div class="col-sm-10"><div class="well well-sm" style="height: 150px; overflow: auto;">';          
    {% for order in orderstatuss %}
	html +='<div class="checkbox">';
	html +='<label><input type="checkbox" name="setting_dashboard[' + order_row + '][dashboard_orderstatus][{{ order.order_status_id }}][order_status_id]" value="{{ order.order_status_id }}" />  {{ order.name }} </label>';
	html +='</div>';
			{% endfor %}
	html +='</div></div>';
	html +='</div>';

	// Payment Method ///
	html +='<div class="form-group"><label class="col-sm-2 control-label">{{ entry_method }}</label>';
  	html +='<div class="col-sm-10"><div class="well well-sm" style="height: 150px; overflow: auto;">';          
      	{% for payment in paymentmethods %}
  	html +='<div class="checkbox">';
  	html +='<label><input type="checkbox" name="setting_dashboard[' + order_row + '][dashboard_paymentmethod][{{ payment.name }}][method]" value="{{ payment.name }}" />  {{ payment.name }} </label>';
  	html +='</div>';
    {% endfor %}
  	html +='</div></div>';
  	html +='</div>';
	/// Payment Method ///
	
	html += '	<div class="form-group">';
	html += '	  <label class="col-sm-2 control-label" for="input-status' + order_row + '">{{ entry_status }}</label>';
	html += '	  <div class="col-sm-10"><select name="setting_dashboard[' + order_row + '][dashboard_status]" id="input-status' + order_row + '" class="form-control">';
	html += '	      <option value="1">{{ text_enabled }}</option>';
	html += '	      <option value="0">{{ text_disabled }}</option>';
	html += '	  </select></div>';
	html += '	</div>';
	html += '	<div class="form-group">';
	html += '	  <label class="col-sm-2 control-label" for="input-value' + order_row + '">{{ entry_sortorder }}</label>';
	html += '	  <div class="col-sm-10"><input type="text" name="setting_dashboard[' + order_row + '][sort_order]" dort_order="" placeholder="{{ entry_sortorder }}" id="input-value' + order_row + '" class="form-control" /></div>';
	html += '	</div>';

	html += '<div class="form-group"><label class="col-sm-2 control-label" for="input-type">{{ entry_daytype }}</label>';
	html += '<div class="col-sm-10"><select name="setting_dashboard[' + order_row + '][daytype]" class="form-control">';
         {% for result in daytypes %}
	html += '<option value="{{ result.daytype }}">{{ result.value }}</option>'; 
		{% endfor %}
	html += '</select></div>';
	html += '</div>';

	html += '	<div class="form-group">';
	html += '		<label class="col-sm-2 control-label" for="input-color' + order_row + '">{{ entry_textcolor }}</label>';
	html += '		<div class="col-sm-10">';
	html += ' 				<input type="text" name="setting_dashboard[' + order_row + '][text_color]" value="" placeholder="{{ entry_textcolor }}" class="form-control color" />';
	html += '		</div>';
	html += '	</div>';
	html += '	<div class="form-group">';
	html += '		<label class="col-sm-2 control-label" for="input-bgcolor">{{ entry_bgcolor }}</label>';
	html += '		<div class="col-sm-10">';
	html += ' 				<input type="text" name="setting_dashboard[' + order_row + '][bg_color]" value="" placeholder="{{ entry_bgcolor }}" class="form-control color" />';
	html += '		</div>';
	html += '	</div>';
	html += '	<div class="form-group">';
	html += '		<label class="col-sm-2 control-label" for="input-icon">{{ entry_icon }}</label>';
	html += '  		<div class="col-sm-4"><div class="input-group"><input type="text" name="setting_dashboard[' + order_row + '][icon]" dort_order="" placeholder="{{ entry_icon }}" id="input-value' + order_row + '" class="form-control fontbox" /><span class="input-group-addon"></span></div></div>';
	html += '	</div>';
	html += '</div>';
	
	
	$('#tab-dashboard .tab-content').append(html);
		
	$('#dashboard-add').before('<li><a href="#tab-dashboard' + order_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$(\'#dashboard a:first\').tab(\'show\'); $(\'a[href=\\\'#tab-dashboard' + order_row + '\\\']\').parent().remove(); $(\'#tab-dashboard' + order_row + '\').remove();"></i> {{ tab_dashboard }} ' + order_row + '</a></li>');

	$('#dashboard a[href=\'#tab-dashboard' + order_row + '\']').tab('show');
		
	/*$('#tab-dashboard' + order_row + ' .form-group[data-sort]').detach().each(function() {
		if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#tab-dashboard' + order_row + ' .form-group').length) {
			$('#tab-dashboard' + order_row + ' .form-group').eq($(this).attr('data-sort')).before(this);
		}

		if ($(this).attr('data-sort') > $('#tab-dashboard' + order_row + ' .form-group').length) {
			$('#tab-dashboard' + order_row + ' .form-group:last').after(this);
		}

		if ($(this).attr('data-sort') < -$('#tab-dashboard' + order_row + ' .form-group').length) {
			$('#tab-dashboard' + order_row + ' .form-group:first').before(this);
		}
	});*/
		$(document).ready( function() {
			
            $('.color').each( function() {
               		$(this).minicolors({
					control: $(this).attr('data-control') || 'hue',
					defaultValue: $(this).attr('data-defaultValue') || '',
					inline: $(this).attr('data-inline') === 'true',
					letterCase: $(this).attr('data-letterCase') || 'lowercase',
					opacity: $(this).attr('data-opacity'),
					position: $(this).attr('data-position') || 'bottom left',
					change: function(hex, opacity) {
						if( !hex ) return;
						if( opacity ) hex += ', ' + opacity;
						try {
							console.log(hex);
						} catch(e) {}
					},
					theme: 'bootstrap'
				});
                
            });
			
		}); 
	order_row++;
		
}
//--></script>

<script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#dashboard a:first').tab('show');
//--></script>
<script type="text/javascript"><!--
$('select[name=\'setting_country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=localisation/country/country&user_token={{ user_token }}&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'setting_country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('input[name=\'setting_postcode\']').parent().parent().addClass('required');
			} else {
				$('input[name=\'setting_postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ setting_zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('select[name=\'setting_zone_id\']').html(html);
			$('select[name=\'setting_zone_id\']').trigger('change');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'setting_country_id\']').trigger('change');
//--></script>

<script type="text/javascript"><!--
var payment_row = {{ payment_row }};

function addPayment() {
	/// Payment Method ////
	html  = '<tr id="payment-row' + payment_row + '">';
	html += '<td class="text-left"><input type="text" name="setting_paymentmethod[' + payment_row + '][name]" class="form-control" placeholder="{{ entry_name }}"/></td>';
    html += '<td class="text-left"><select name="setting_paymentmethod[' + payment_row + '][order_status_id]" class="form-control">';
//// Payment Method ///
     {% for orderstatus in order_statuss %}
    html += '<option value="{{ orderstatus.order_status_id }}">{{ orderstatus.name }}</option>';
    {% endfor %}
    html += '  </select></td>';
    html += '<td class="text-left"><input type="text" name="setting_paymentmethod[' + payment_row + '][sortorder]" class="form-control" placeholder="{{ entry_sortorder }}"/></td>';
    html += '<td class="text-left"><button type="button" onclick="$(\'#payment-row' + payment_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#payment tbody').append(html);

	payment_row++;
}
//--></script>
<script>
$(document).ready( function() {		
	$('.color').each( function() {
    	$(this).minicolors({
			control: $(this).attr('data-control') || 'hue',
			defaultValue: $(this).attr('data-defaultValue') || '',
			inline: $(this).attr('data-inline') === 'true',
			letterCase: $(this).attr('data-letterCase') || 'lowercase',
			opacity: $(this).attr('data-opacity'),
			position: $(this).attr('data-position') || 'bottom left',
			change: function(hex, opacity) {
				if( !hex ) return;
				if( opacity ) hex += ', ' + opacity;
				try {
					console.log(hex);
				} catch(e) {}
			},
			theme: 'bootstrap'
		});
        
    });
	
});

</script>
<!-- new js code end here -->
<link rel="stylesheet" href="view/javascript/dist/css/fontawesome-iconpicker.min.css">
<script src="view/javascript/dist/js/fontawesome-iconpicker.js"></script>
 <script>
            $(function() {
                $('.fontbox').on('click', function() {
                    $('.fontbox').iconpicker();
                }).trigger('click');
            });
</script>
{{ footer }}
<style>
#myModal ul li p{
	width:25%;
	display:inline-block;
}	
#myModal .close {
    color: #000;
    font-size: 25px;
    margin: -25px 0 0 !important;
    opacity: 1;
    position: absolute;
    right: 5px;
    top: auto;
}
.modal-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#form-setting ul li.active > a,#form-setting ul li.active > a:hover,#form-setting ul li.active > a:focus{
	background: #00a4e4 none repeat scroll 0 0 !important;
	color:#fff;
}
#form-setting .nav-tabs li a{
	background:#E4E6EA;
}
#form-setting .nav-tabs > li.active > a, #form-setting .nav-tabs > li.active > a:hover,#form-setting .nav-tabs > li.active > a:focus{
	color:#fff;
}
#tab-sucess ul li.active > a,#tab-sucess ul li.active > a:hover,#tab-sucess ul li.active > a:focus{
	background: #fff !important;
	color: #333 !important;
}
    #tab-customermail  ul li{
        width:23%;
        display: inline-block;
    }
 #tab-customermail  ul li p{
        width:35%;
     display: inline-block;
    }
</style>
