{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
<div class="container-fluid">
<div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-information').submit() : false;"><i class="fa fa-trash-o"></i></button>
</div>
<h1>{{ heading_title }}</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
</ul>
</div>
</div>
<div class="container-fluid">
{% if error_warning %}
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if success %}
<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
</div>
<div class="panel-body">
		<div class="well">
			<div class="row">
			</div>
		</div>
	<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-information">
		<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
					<td class="text-left">{% if sort == 'name' %}
						<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %}
						<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}</td>
					
						<td class="text-left">{% if sort == 'location' %}
						<a href="{{ sort_location }}" class="{{ order|lower }}">{{ column_location }}</a>
						{% else %}
						<a href="{{ sort_location }}">{{ column_location }}</a>
						{% endif %}</td>
					
					  <td class="text-left">{% if sort == 'phone' %}
						<a href="{{ sort_phone }}" class="{{ order|lower }}">{{ column_phone }}</a>
						{% else %}
						<a href="{{ sort_phone }}">{{ column_phone }}</a>
						{% endif %}</td>
					
					  <td class="text-left">{% if sort == 'status' %}
						<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
						{% else %}
						<a href="{{ sort_status }}">{{ column_status }}</a>
						{% endif %}</td>
					  <td class="text-right">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if stores %}
				{% for result in stores %}
				<tr>
				 <td class="text-center">
			    	<input type="checkbox" name="selected[]" value="{{ result.store_id }}"  />
				</td>
					<td class="text-left">{{ result.name }}</td>
					<td class="text-left">{{ result.location }}</td>						
					<td class="text-left">{{ result.phone }}</td>						
					<td class="text-left">{{ result.status }}</td>
					<td class="text-right"><a href="{{ result.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td class="text-center" colspan="6">{{ text_no_results }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</form>
<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$('#button-filter').on('click', function() {
	
	var url = 'index.php?route=job/employ&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	var filter_fullname = $('input[name=\'filter_fullname\']').val();

	if (filter_fullname) {
		url += '&filter_fullname=' + encodeURIComponent(filter_fullname);
	}
	var filter_email = $('input[name=\'filter_email\']').val();

	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}
	location = url;
});
</script>
<script type="text/javascript">
$('input[name=\'filter_name\']').autocompletec({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=localisation/country/autocompletec&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					country_id: 0,
					name:'{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['country_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
		$('input[name=\'country_id\']').val(item['value']);
	}
});
</script>
<script type="text/javascript">
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=localisation/country/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					country_id: 0,
					name:'{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['country_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
		$('input[name=\'country_id\']').val(item['value']);
	}
});
</script>
{{ footer }}