<div class="row">
  <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
          <div class="input-group date">
            <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
        </div>
        <div class="form-group">
          <label class="control-label" for="input-calculator">{{ entry_calculator }}</label>
          <input type="text" name="filter_calculator" value="{{ filter_calculator }}" placeholder="{{ entry_calculator }}" id="input-calculator" class="form-control" />
        </div>
        <div class="form-group">
          <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
          <div class="input-group date">
            <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
        </div>
        <div class="form-group text-right">
          <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-pull-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-left">{{ column_calculator }}</td>
                <td class="text-left">{{ column_email }}</td>
                <td class="text-left">{{ column_mobile }}</td>
               <td class="text-right">{{ column_targetarea }}</td>
                <td class="text-left">{{ column_target_grandopening }}</td>
                <td class="text-left">{{ column_lod }}</td>
                <td class="text-right">{{ column_total }}</td>
               
              </tr>
            </thead>
            <tbody>
            
            {% if calculators %}
            {% for calculator in calculators %}
            <tr>
              <td class="text-left">{{ calculator.calculator }}</td>
              <td class="text-left">{{ calculator.email }}</td>
              <td class="text-left">{{ calculator.mobile }}</td>
              <td class="text-right">{{ calculator.targetarea }}</td>
              <td class="text-left">{{ calculator.target_grandopening }}</td>
              <td class="text-left">{{ calculator.product_arraival }}</td>
              <td class="text-right">{{ calculator.total }}</td>
              
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="6">{{ text_no_results }}</td>
            </tr>
            {% endif %}
            </tbody>
            
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';
	
	var filter_calculator = $('input[name=\'filter_calculator\']').val();
	
	if (filter_calculator) {
		url += '&filter_calculator=' + encodeURIComponent(filter_calculator);
	}
	
	var filter_date_start = $('input[name=\'filter_date_start\']').val();
	
	if (filter_date_start) {
		url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
	}
	
	var filter_date_end = $('input[name=\'filter_date_end\']').val();
	
	if (filter_date_end) {
		url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
	}
	
	location = 'index.php?route=report/report&code=calculator_report&user_token={{ user_token }}' + url;
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script> 
<script type="text/javascript"><!--
$('input[name=\'filter_calculator\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/report/calculator_report/autocomplete&user_token={{ user_token }}&filter_calculator=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['cd_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_calculator\']').val(item['label']);
	}
});
//--></script>